table{
    margin-top: 50px;
    margin-inline: auto;
/* background-color: blueviolet; */
}
.cell{
    height: 70px;
    width: 70px;
    border-style: solid;
    /* background-color: aqua; */
    font-size: 20px;
}
.controlpanel{
    height: 150px;
    width: 350px;
    margin-inline: auto;
}
button{
    font-size: 20px;
  

}
.img{
    height: 40px;
    width: 40px;

}
.complete{
    visibility: hidden;
}
.gameplay table{
    background-color: blue;
}